@page "/CraftBuild"
@using Blazored.LocalStorage
@using EcoSimGame.Models
@inject ILocalStorageService localStorage

<h3>Produkcja</h3>

<div>
    <p><strong>Drewno:</strong> @player.Inventory.GetQuantity("Drewno")</p>
    <p><strong>Deski:</strong> @player.Inventory.GetQuantity("Deski")</p>

    <p><strong>Ruda Żelaza:</strong> @player.Inventory.GetQuantity("Ruda żelaza")</p>
    <p><strong>Sztabki Żelaza:</strong> @player.Inventory.GetQuantity("Sztabka żelaza")</p>

    <p><strong>Glina:</strong> @player.Inventory.GetQuantity("Glina")</p>
    <p><strong>Cegły:</strong> @player.Inventory.GetQuantity("Cegła")</p>

    <p><strong>Len:</strong> @player.Inventory.GetQuantity("Len")</p>
    <p><strong>Płótno:</strong> @player.Inventory.GetQuantity("Płótno")</p>

    @if (CanProduceWoodenPlanks())
    {
        <button @onclick="ProduceWoodenPlanks">Produkuj Deski</button>
    }

    @if (CanProduceIronBars())
    {
        <button @onclick="ProduceIronBars">Produkuj Sztabki Żelaza</button>
    }

    @if (CanProduceBricks())
    {
        <button @onclick="ProduceBricks">Produkuj Cegły</button>
    }

    @if (CanProduceCloth())
    {
        <button @onclick="ProduceCloth">Produkuj Płótno</button>
    }

</div>

@code {
    private Player player = new Player();

    protected override async Task OnInitializedAsync()
    {
        var storedPlayer = await localStorage.GetItemAsync<Player>("player");
        if (storedPlayer != null)
        {
            player = storedPlayer;
        }

        await localStorage.SetItemAsync("player", player);
    }

    private bool CanProduceWoodenPlanks()
    {
        return player.Inventory.GetQuantity("Drewno") >= 2;
    }

    private bool CanProduceIronBars()
    {
        return player.Inventory.GetQuantity("Ruda żelaza") >= 2;
    }

    private bool CanProduceBricks()
    {
        return player.Inventory.GetQuantity("Glina") >= 2;
    }

    private bool CanProduceCloth()
    {
        return player.Inventory.GetQuantity("Len") >= 2;
    }

    private async Task ProduceWoodenPlanks()
    {
        if (player.Inventory.Remove("Drewno", 2))
        {
            player.Inventory.Add("Deski", 1);
            await localStorage.SetItemAsync("player", player);
        }
    }

    private async Task ProduceIronBars()
    {
        if (player.Inventory.Remove("Ruda żelaza", 2)) 
        {
            player.Inventory.Add("Sztabka żelaza", 1);
            await localStorage.SetItemAsync("player", player);
        }
    }

    private async Task ProduceBricks()
    {
        if (player.Inventory.Remove("Glina", 2))
        {
            player.Inventory.Add("Cegła", 1);
            await localStorage.SetItemAsync("player", player);
        }
    }

    private async Task ProduceCloth()
    {
        if (player.Inventory.Remove("Len", 2))
        {
            player.Inventory.Add("Płótno", 1);
            await localStorage.SetItemAsync("player", player);
        }
    }
}
