@page "/productionmap"

<div class="production-map-container" @ref="mapContainerRef" @onmousedown="mouseService.StartDrag" @onmouseup="mouseService.StopDrag" @onmousemove="mouseService.OnDrag">
    <div class="production-map" @ref="mapRef" style="@mapStyle">

        @for (int i = 0; i < game.PowerPlantSlots.Count; i++)
        {
            var index = i;
            var slot = game.PowerPlantSlots[index];
            var pos = SlotPositions.PowerPlantSlotPositions[index];

            <div class="slot power-plant" style="left:@($"{pos.X}px"); top:@($"{pos.Y}px");" @onclick="@(() => OnPowerPlantSlotClicked(index))">
                @if (slot.IsOccupied && slot.Building is not null)
                {
                    var imageName = NameHelper.NormalizeImageName(slot.Building.Name);

                    <div class="power-plant-slot-content">
                        <img src=@($"images/energy/{imageName}.png") alt="@slot.Building.Name" class="power-plant-icon" />
                        <div class="production-info">+@slot.Building.EnergyPerTick energii</div>
                    </div>
                }
                else
                {
                    <span>Zbuduj elektrownię</span>
                }
            </div>
        }

        @for (int i = 0; i < game.EnergyStorageSlots.Count; i++)
        {
            var index = i;
            var slot = game.EnergyStorageSlots[index];
            var pos = SlotPositions.EnergyStorageSlotPositions[index];

            <div class="slot energy-storage" style="left:@($"{pos.X}px"); top:@($"{pos.Y}px");" @onclick="@(() => OnEnergyStorageSlotClicked(index))">
                @if (slot.IsBuilt)
                {
                    <div class="power-plant-slot-content">
                        <img src="images/energy/magazyn.png" alt="Magazyn energii" class="power-plant-icon" />
                        <div class="production-info">Poj: @slot.Capacity</div>
                    </div>
                }
                else
                {
                    <span>Zbuduj magazyn energii</span>
                }
            </div>
        }

        @for (int i = 0; i < game.WarehouseSlots.Count; i++)
        {
            var index = i;
            var slot = game.WarehouseSlots[index];
            var pos = SlotPositions.WarehouseSlotPositions[index];

            <div class="slot warehouse" style="left:@($"{pos.X}px"); top:@($"{pos.Y}px");" @onclick="@(() => OnWarehouseSlotClicked(index))">
                @if (slot.IsBuilt)
                {
                    <div class="power-plant-slot-content">
                        <img src="images/warehouse/magazyn.png" alt="Magazyn" class="power-plant-icon" />
                        <div class="production-info">Poj: @slot.Capacity</div>
                    </div>
                }
                else
                {
                    <span>Zbuduj magazyn</span>
                }
            </div>
        }

        @for (int i = 0; i < Math.Min(game.FactorySlots.Count, SlotPositions.FactorySlotPositions.Count); i++)
        {
            var index = i;
            var slot = game.FactorySlots[index];
            var pos = SlotPositions.FactorySlotPositions[index];

            <div class="slot factory" style="left:@($"{pos.X}px"); top:@($"{pos.Y}px");" @onclick="@(() => OnFactorySlotClicked(index))">
                @if (slot.IsBuilt && slot.GetFactory() is not null)
                {
                    var imageName = NameHelper.NormalizeImageName(slot.SelectedFactoryName ?? "fabryka");

                    <div class="power-plant-slot-content">
                        <img src=@($"images/factory/{imageName}.png") alt="@slot.SelectedFactoryName" class="power-plant-icon" />
                        <div class="production-info">
                            @(string.IsNullOrEmpty(slot.SelectedProduction) ? "Brak produkcji" : slot.SelectedProduction)
                        </div>
                    </div>
                }
                else
                {
                    <span>Zbuduj fabrykę</span>
                }
            </div>
        }

    </div>
</div>

<EnergyPurchaseModal IsOpen="@isChoosing"
                     EnergyBuildings="@EnergyProductionList.AllBuildings"
                     OnSelectBuilding="ConfirmBuild"
                     Close="CloseModal" />
<EnergyStorageModal IsOpen="@isEnergyStorageModalOpen"
                    Slot="@game.EnergyStorageSlots[selectedEnergyStorageIndex]"
                    Close="CloseModal"
                    OnUpgrade="UpgradeEnergyStorage" />
<WarehouseModal IsOpen="@isWarehouseModalOpen"
                Slot="@game.WarehouseSlots[selectedWarehouseIndex]"
                Close="CloseModal"
                OnUpgrade="UpgradeWarehouse" />
<FactoryBuildModal IsOpen="@isFactoryBuildModalOpen"
                   Slot="@game.FactorySlots[selectedFactoryIndex]"
                   Close="CloseModal"
                   OnFactoryBuilt="OnFactoryBuilt" />

<FactoryManageModal IsOpen="@isFactoryManageModalOpen"
                    Slot="@game.FactorySlots[selectedFactoryIndex]"
                    Close="CloseModal"
                    OnFactoryUpdated="OnFactoryUpdated" />

z
@code {
    private bool isChoosing = false;
    private int selectedSlotIndex;
    private bool isEnergyStorageModalOpen = false;
    private int selectedEnergyStorageIndex;
    private bool isWarehouseModalOpen = false;
    private int selectedWarehouseIndex;
    private bool isFactoryBuildModalOpen = false;
    private bool isFactoryManageModalOpen = false;
    private int selectedFactoryIndex;

    private ElementReference mapRef;
    private ElementReference mapContainerRef;
    private ProductionMapState mapState = new();
    private ProductionMapMouseService mouseService;

    private string? errorMessage;
    private string mapStyle => mapState.GetTransformStyle();

    protected override void OnInitialized()
    {
        mouseService = new ProductionMapMouseService(mapState);
        game.InitializePowerSlots();
        game.InitializeEnergyStorageSlots();
        game.InitializeWarehouseSlots();
        game.InitializeFactorySlots();
        game.OnUpdate += StateHasChanged;
    }

    private void OnPowerPlantSlotClicked(int index)
    {
        selectedSlotIndex = index;
        isChoosing = true;
        StateHasChanged();
    }

    private void OnEnergyStorageSlotClicked(int index)
    {
        if (index < 0 || index >= game.EnergyStorageSlots.Count)
            return;

        selectedEnergyStorageIndex = index;
        isEnergyStorageModalOpen = true;
    }

    private void OnWarehouseSlotClicked(int index)
    {
        if (index < 0 || index >= game.WarehouseSlots.Count)
            return;

        selectedWarehouseIndex = index;
        isWarehouseModalOpen = true;
    }

    private void OnFactorySlotClicked(int index)
    {
        if (index < 0 || index >= game.FactorySlots.Count)
            return;

        selectedFactoryIndex = index;

        var slot = game.FactorySlots[index];

        if (!slot.IsBuilt)
            isFactoryBuildModalOpen = true;
        else
            isFactoryManageModalOpen = true;
    }

    private Task CloseEnergyStorageModal()
    {
        isEnergyStorageModalOpen = false;
        return Task.CompletedTask;
    }

    private async Task UpgradeEnergyStorage()
    {
        game.EnergyStorageSlots[selectedEnergyStorageIndex].IsBuilt = true;
        isEnergyStorageModalOpen = false;
        await game.Save();
        StateHasChanged();
    }


    private async Task UpgradeWarehouse()
    {
        game.WarehouseSlots[selectedWarehouseIndex].IsBuilt = true;
        isWarehouseModalOpen = false;
        await game.Save();
        StateHasChanged();
    }


    private async Task OnFactoryUpdated()
    {
        isFactoryManageModalOpen = false;
        await game.Save();
        StateHasChanged();
    }

    private async Task OnFactoryBuilt()
    {
        game.FactorySlots[selectedFactoryIndex].IsBuilt = true;
        isFactoryBuildModalOpen = false;
        await game.Save();
        StateHasChanged();
    }


    private async Task RefreshPage()
    {
        isEnergyStorageModalOpen = false;
        await game.Save();
    }

    private async Task ConfirmBuild(EnergyProduction building)
    {
        var i = selectedSlotIndex;

        if (i < 0 || i >= game.PowerPlantSlots.Count)
        {
            errorMessage = "Nieprawidłowy slot!";
            return;
        }

        if (game.Player.Money >= building.Cost)
        {
            game.Player.Money -= building.Cost;

            game.SetPowerPlant(i, building);

            await game.Save();

            isChoosing = false;
            StateHasChanged();
        }
        else
        {
            errorMessage = "Za mało pieniędzy!";
        }
    }


    private void CloseModal()
    {
        isChoosing = false;
        isEnergyStorageModalOpen = false;
        isWarehouseModalOpen = false;
        isFactoryBuildModalOpen = false;
        isFactoryManageModalOpen = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var size = await JS.InvokeAsync<Size>("getElementSize", mapContainerRef);
            mapState.ContainerWidth = size.Width;
            mapState.ContainerHeight = size.Height;

            mapState.OffsetX = (mapState.ContainerWidth - mapState.MapWidth) / 2;
            mapState.OffsetY = (mapState.ContainerHeight - mapState.MapHeight) / 2;

            mapState.OffsetX = (int)mapState.OffsetX;
            mapState.OffsetY = (int)mapState.OffsetY;

            StateHasChanged();
        }
    }

    public void Dispose() => game.OnUpdate -= StateHasChanged;
}