@page "/Warehouse"
@using EcoSimGame.Models
@inject Services.GameStateService game

<h3>Magazyn</h3>

<p><strong>Pojemność magazynu:</strong> @game.Player.GetCurrentInventorySize() / @game.Player.WarehouseCapacity</p>

<progress class="inventory-bar" max="@game.Player.WarehouseCapacity" value="@game.Player.GetCurrentInventorySize()"></progress>

@if (game.Player.Inventory.GetAllWithQuantity().Count > 0)
{
    <div style="margin-top: 1em;">
        @foreach (var stock in game.Player.Inventory.GetAllWithQuantity())
        {
            <p class="material-entry"><strong>@stock.MaterialName:</strong> @stock.Quantity sztuk</p>
        }
    </div>
}
else
{
    <p>Magazyn jest pusty.</p>
}

@code {
    protected override void OnInitialized()
    {
        game.OnUpdate += StateHasChanged;
    }

    public void Dispose()
    {
        game.OnUpdate -= StateHasChanged;
    }
}
